extends base.pug

//- block scripts
//-     script(src='/static/home.js')

block style 
    style 
        include ../static/faq.css

block content
    .content
        .image
            img(src='/static/homebg.jpg', alt='125px')    
        nav.bottom
            h1 Ask a question
            form(action="https://www.cowin.gov.in/faq", class="form")  
                input#name(type='text', class="box", name='name', placeholder='Enter your query')
                button(class="btn") SEARCH
            h4 Helpline Number : +91-11-23978046
            h4 Toll Free Number: 1075     