extends base.pug

block style 
    style 
        include ../static/home.css

block content
    .content
        .image
            img(src='/static/homebg.jpg', alt='125px')    
        nav.bottom
            h1 Welcome To Our Portal        
        
            p #[ This is a CORONA VACCINATION MANAGEMENT SYSTEM. After successfull completion of trial for vaccine, Govt approved the vaccines for all people. For the vaccination process to be easier, faster and reliable.We have design this portal for people registraion at a specific center,handling by staff while vaccinating, recommendation by doctor. This portal has many modules . We have also use database management system concept while designing.A vaccine (or immunization) is a way to build your body's natural immunity to a disease before you get sick. This keeps you from getting and spreading the disease.For most vaccines, a weakened form of the disease germ is injected into your body. This is usually done with a shot in the leg or arm. Your body detects the invading germs (antigens) and produces antibodies to fight them. Those antibodies then stay in your body for a long time. In many cases, they stay for the rest of your life. If you are ever exposed to the disease again, your body will fight it off without you ever getting the disease.]